h3 {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.intro h2 {
    margin-top: 5%;
    font-family: 'Italianno', cursive;
    font-size: 60px;
    color: white;
}

.gods-container, .beasts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.beasts-container {
    margin-top: 5%;
}

.carousel-container {
    width: 100%;
    margin: 0% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.carousel-inner, .carousel-item {
    width: 100%;
}

.card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card, .selected-card {
    width: 200px;
    height: 280px;
    font-size: 13px;
    color: white;
    margin: 0%;
    /* margin: 0% 3%; */
}

#user-deck .react-card-flip {
    width: 200px;
}

.card h3 {
    font-family: "Italianno", cursive;
    font-size: 30px;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.buttons-container button {
    background-color: rgb(49, 6, 49);
    border: none;
    color: white;
}

.buttons-container button:hover {
    background-color: rgb(57, 2, 57);
}

.buttons-container button:active {
    background-color: rgb(57, 2, 57) !important;
}

.card-row {
    display: flex;
    flex-direction: row;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin-top: 15%;
    margin-left: 7.5%;
}

.card-content p {
    font-size: 100%;
}

.card-img, .selected-card img {
    width: 99%;
    height: 182px;
}

.card-img img {
    width: 100%;
    height: 100%;
}

.carousel-control-prev, .carousel-control-next {
    display: none;
}

.col-md-4 {
    width: 33%;
}

.carousel-indicators {
    display: none;
}

.character-info p {
    margin-bottom: 1%;
}

.add-button {
    width: 80px;
    margin-top: 10%;
    font-size: 12px;
    padding: 2% 6%;
    background-color: rgb(198, 152, 36);
    border: none;
    color: white;
}

.add-button:hover, .add-button:active {
    background-color: rgb(163, 124, 27) !important;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-top: 3%;
}

.begin-button {
    margin-top: 300px;
    width: 100%;
}

.begin-button button {
    background-color: rgb(198, 152, 36);
    border: none;
    color: white;
}

.begin-button button:hover, .begin-button button:active {
    background-color: rgb(163, 124, 27) !important;
}

.exceeded {
    width: 100%;
}

#create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-deck {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .col-md-4 {
        margin: 0% 0.5%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 100vw !important;
    }

    .row {
        width: 100%;
    }

    .col-md-6 {
        margin: 0% 3%;
    }
}

@media screen and (max-width: 500px) {
    .carousel-inner {
        margin-left: 25%;
    }
}

@media screen and (max-width: 400px) {
    .carousel-inner {
        margin-left: 20%;
    }
}

@media screen and (max-width: 360px) {
    .carousel-inner {
        margin-left: 18%;
    }
}

@media screen and (max-width: 320px) {
    .carousel-inner {
        margin-left: 13%;
    }
}

@media screen and (max-width: 280px) {
    .carousel-inner {
        margin-left: 7%;
    }
}