/* .background {
    display: flex;
}

#open-book {
    width: 100%;
}

.oshun-text {
    width: 45%;
    position: absolute;
    left: 53%;
    bottom: 30%;
}

.oshun-img {
    position: absolute;
    left: 3%;
    bottom: 30%;
    opacity: .8
}

#oshun{
    width: 55%

}

p{
    font-size: 25px;
    line-height: 1.5;
} */


.background {
    position: relative;
}

#open-book {
    width: 100%;
    position: relative;
}

#oshun-img {
    width: 42.5%;
    position: absolute;
    left: 5%;
    bottom: 34%;
}

#oshun-txt {
    position: absolute;
    left: 70%;
    bottom: 70%;  
}