.book-cover {
    background-image: url(../../assets/book-cover.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.book {
    border: 3px solid yellow;
    height: 90vh;
}

.page {
    display: none; /* initially hide all pages */
  }

.page.visible {
    display: block;
    background-image: url(../../assets/page.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-content {
    color: black;
    font-family: 'Italianno', cursive;
    font-size: 35px;
    text-align: left;
    margin: 8% 3%;
}

.book-container {
    border: 2px solid green;
}

#book-cover {
    width: 100%;
}

