.login-page {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 7%;
}

.login-container {
    width: 55%;
    display: flex;
}

.container-box {
    width: 100%;
    margin: 0%;
}

.signup-container {
    width: 45%;
}

.guest-container {
    width: 40%;
    margin-top: 10%;
    align-self: flex-end;
    justify-self: flex-end;
}

.guest-container a {
    color: rgb(198, 152, 36);
    font-family: 'Italianno', cursive;
    font-size: 40px;
}

.guest-container:hover {
    animation: pulse;
    animation-duration: 2s;
}

.guest-container p {
    color: white;
}

.login-container button, .signup-container button {
    background-color: rgb(198, 152, 36);
    border: none;
    font-size: 25px;
    padding: 3% 5%;
    font-family: 'Italianno', cursive;
    font-size: 40px;
}

.login-container button:hover, .login-container button:active, .login-container button:focus, .signup-container button:hover, .signup-container button:active, .signup-container button:focus {
    background-color: rgb(163, 124, 27) !important;
}

@media screen and (max-width: 768px) {
    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login, .signup {
        width: 80%;
    }

    .login {
        margin-bottom: 7%;
    }
}