section h1 {
    color: white;
    font-family: 'Italianno', cursive;
    font-size: 550%;
    text-align: center;
}

i {
    position: absolute;
    height: 30px;
    background: linear-gradient(transparent, yellow);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animate 5s linear infinite;
}

i:nth-child(3n + 1) {
    background: linear-gradient(transparent, orange);
}

i:nth-child(3n + 2) {
    background: linear-gradient(transparent, rgb(181, 134, 48));
}

i:nth-child(3n + 3) {
    background: linear-gradient(transparent, rgb(255, 234, 196));
}

@keyframes animate {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(calc(100vh + 30px));
    }
}

.home {
    margin: 0%;
    height: 100vh;
    overflow: hidden !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.logo-container {
    width: 43%;
    margin-bottom: 3%;
}

.button-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-container Button, .button-container Button:focus, .button-container Button:active {
    background-color: rgb(198, 152, 36);
    padding: 2% 4%;
    border: none;
    box-shadow: 3px 3px rgb(163, 124, 27);
}

.button-container Button:hover {
    background-color: rgb(163, 124, 27);
    box-shadow: 3px 3px rgb(143, 108, 22);
}

.button-container Button a {
    text-decoration: none;
    color: black;
}

#logo {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .logo-container {
        width: 100%;
        margin: 3%;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        text-align: center;
    }
    .logo-container {
        width: 150%;
        margin: 3%;
    }
}