body {
    background-color: rgb(50, 25, 7);
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.background {
    position: relative;
}

.content {
    position: absolute;
    width: 90%;
    height: 70%;
    bottom: 24%;
    left: 5%;
}

.whole {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.left {
    margin-right: 5%;
    width: 50%;
}

.right {
    margin-left: 5%;
    width: 50%;
    container-type: inline-size; 
    /* uses container query to keep child text from overflowing */
}

.txt {
    /* font-family: 'Italianno', cursive; */
    line-height: 1.6;
    font-size: max(2rem, 6cqi);
    /* rem: dictates element's font size relative to size of root element; max to limit how small text can get 
    8 cqi font size*/
}

#page1, #page2, #page3 {
    container-type: inline-size; 

}

.page {
    display: none;
}

#open-book {
    width: 100%;
    position: relative;
}

#head {
    font-size: 80px;
   text-align: center;
}

#content-img {
    width: 100%;
    height: 80%
    margin-bottom:3%;
} 

#nextPageBtn {
    margin-left: 60%;
    font-size: 30px;
    background-color: transparent;
    border: none;
    padding: 3%;
    border-radius: 50%;
}

#previousPageBtn {
    font-size: 30px;
    background-color: transparent;
    border: none;
    padding: 3%;
    border-radius: 50%;
}

#home-btn, #contents-btn, #random-btn {
    background-color: rgb(87, 8, 8);
    padding: 1% 5%;
    font-size: 40px;
    font-family: 'Italianno', cursive;
    border: none;
}

#nextPageBtn:hover {
    background-color: rgb(255, 206, 44);
    opacity: .2;
}

#previousPageBtn:hover {
    background-color: rgb(255, 206, 44);
    opacity: .2;
}


/* .hidden{
    display: none;
} */

.mobile-nav {
    display: flex;
    justify-content: space-around;
    margin: 3% auto;
    flex-wrap: wrap;
}

.mobile-content {
   background-image: url("../images/mobile-background.jpg");
}

.mobile-whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.top {
    width: 50%;
}

.bottom {
    margin-top: 20px;
    width: 85%;
    container-type: inline-size; 
}

.mobile-txt {
    line-height: 1.6;
    font-size: max(2rem, 4cqi);
}

.mobile-btns {
    display: flex;
    justify-content: space-between;
}

#mobile-home-btn, #mobile-contents-btn, #mobile-random-btn {
    background-color: rgb(87, 8, 8);
    padding: 1% 3%;
    font-size: 40px;
    font-family: 'Italianno', cursive;
    border: none;
}

#mobile-previousPageBtn, #mobile-nextPageBtn {
    background-color: rgb(10, 2, 54);
    padding: 1% 2%;
    font-size: 30px;
    font-family: 'Italianno', cursive;
    border: none;
    color: white;
}