.background img {
    width: 100%;
    position: relative;
}

#book-cover {
    width: 43%;
    position: absolute;
    right: 29.5%;
    top: 24%;
    /* display: flex;
    justify-content: flex-end; */
}