.background {
    position: relative;
}

#background-img {
    width: 100%;
    position: relative;
}

#book-cover {
    width: 42%;
    position: absolute;
    left: 28%;
    bottom: 20%;
}

/* made the background images container and the image itself relative, and that seemed to make it so that the second image was confined within the first */