/* I was running into trouble getting these images to overlap even though I was using the same method as on the home page, so I copied and pasted that code and changed the names/values of the divs and images to the correct ones*/
.background {
    position: relative;
}

#open-book {
    width: 100%;
    position: relative;
}

#world {
    width: 94%;
    position: absolute;
    left: 4%;
    bottom: 30%;
}

